.keypad-layout {
  width: 60%;
  height: 370px;
  margin: 0 auto;
  background-color: gray;
  overflow: auto;
}

.keypad-numBtn-layout {
  float: left;
  width: 60%;
  height: 100%;
  background-color: blue;
}

.keypad-opBtn-layout {
  float: right;
  width: 40%;
  height: 100%;
  background-color: green;
}

@media screen and (max-width:768px) {
  .keypad-layout {
    width: 100%;
  }
}